$mainColor: #718c63;
$subColor: #febd00;

$submitButton: #718c63;
$submitButtonHover: #90d06d;

$rejectButton: #c53144;
$rejectButtonHover: #f1253d;

@mixin mainButton {
  min-width: 205px;
  border: none;
  outline: none;
  user-select: none;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: $submitButton;
  border-radius: 5px;
  margin-bottom: 20px;
  &:hover {
    background-color: #638c49;
  }

}

html, main {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  position: relative;
  background-color: #f9f9fd;
  font-family: 'Press Start 2P', cursive;
}

* {
  box-sizing: border-box;
}

label {
  display: flex;
}


section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  height: 100%;
}

.disabled {
  display: none !important;
}

.button {
  &:hover {
    box-shadow: 0px 3px 54px 5px rgba(0, 0, 0, 0.35);
  }

  &[disabled] {
    background-color: #42463f !important;
  }

  &[disabled]:hover {
    background-color: #42463f;
  }

}

.game {
  position: relative;
  width: 750px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: -9px 39px 46px -12px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  padding: 50px;

}

.dialog {
  display: flex;
  align-items: center;
  height: 191px;
  position: absolute;
  bottom: 100%;

  .dialog_dialog-box{
    padding: 10px;
    margin: 0 20px;
    min-height: 150px;
    width: 500px;
    background-color: $mainColor;
    box-shadow: -9px 39px 16px -6px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: 99%;
      bottom: 50%;
      border-style: solid;
      border-width: 20px 20px 20px 0;
      border-color: transparent $mainColor transparent transparent;
    }
  }

  .dialog_dialog-text {
    color: $subColor;
    line-height: 1.5;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .dialog_button {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent $subColor;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
    background-color: transparent;

    &:hover {
      border-color: transparent transparent transparent #bea611;
    }

  }
}

.rules {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;


  .rules_list-item{
    list-style: none;
    margin-bottom: 10px;
  }
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  opacity: 0;
  transition: all 1s;

  &.active {
    opacity: 1;
  }

  .start_button {
    background-color: transparent;
    border: none;
    outline: none;
    user-select: none;
    padding: 10px;
    min-width: 100px;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    transition: all 0.3s;
    cursor: pointer;
  }

  &.active .start_button {
    pointer-events: all;
  }

  .start_button-yes {
    background-color: $submitButton;
  }

  .start_button-yes:hover {
    background-color: $submitButtonHover;
  }

  .start_button-no {
    background-color: $rejectButton;
    &:hover {
      background-color: $rejectButtonHover;
    }
  }
}

.settings {
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  align-items: center;
  height: 100%;

  .settings_form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .settings_number-content {
    display: flex;

  }

  .settings_input {
    margin: 0 10px;
    width: 70px;
    border: none;
    outline: none;
    font-family: 'Press Start 2P', cursive;
    color: $mainColor;
    font-size: 16px;
    border-bottom: solid 3px black;
    text-align: center;
    line-height: 1.1;
  }

  & .settings_input-max {
    border-color: #9f9797;
  }

  .settings_button {
    padding: 20px 40px;
    background-color: $submitButton;
    border: none;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
  }

  .settings-button:hover {
    background-color: $submitButtonHover;
  }

}

.gameplay {
  .gameplay_guess-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .gameplay_input-attempt {
    width: 200px;
    border: none;
    outline: none;
    font-family: 'Press Start 2P', cursive;
    color: $mainColor;
    font-size: 36px;
    border-bottom: solid 3px #9f9797;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 30px;

  }

  .gameplay_form-buttons {
    display: flex;
    flex-direction: column;
  }

  .gameplay_button {
    @include mainButton;
  }

  .gameplay_button-end {
    background-color: $rejectButton;

    &:hover {
      background-color: $rejectButtonHover;
    }
  }

}

.result {
  color: $subColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .result_button {
    @include mainButton;
  }

  .result_text {
    margin-bottom: 50px;
  }
}

.game_input {
  transition: all 0.2s;
}

main input.game_input:focus {
  border-color: $subColor;
}






