html, main {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
  background-color: #f9f9fd;
  font-family: "Press Start 2P", cursive;
}

* {
  box-sizing: border-box;
}

label {
  display: flex;
}

section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  height: 100%;
}

.disabled {
  display: none !important;
}

.button:hover {
  box-shadow: 0px 3px 54px 5px rgba(0, 0, 0, 0.35);
}
.button[disabled]:hover {
  background-color: #42463f;
}

.game {
  position: relative;
  width: 750px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: -9px 39px 46px -12px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  padding: 50px;
}

.dialog {
  display: flex;
  align-items: center;
  height: 191px;
  position: absolute;
  bottom: 100%;
}
.dialog .dialog_dialog-box {
  padding: 10px;
  margin: 0 20px;
  min-height: 150px;
  width: 500px;
  background-color: #718c63;
  box-shadow: -9px 39px 16px -6px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.dialog .dialog_dialog-text {
  color: #febd00;
  line-height: 1.5;
  align-items: center;
  width: 100%;
  text-align: center;
}
.dialog .dialog_button {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent #febd00;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
.dialog .dialog_button:hover {
  border-color: transparent transparent transparent #bea611;
}
.dialog .dialog_button:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 99%;
  bottom: 50%;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #718c63 transparent transparent;
}

.rules {
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}
.rules .rules_list-item {
  list-style: none;
  margin-bottom: 10px;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: all 1s;
}
.start.active {
  opacity: 1;
}
.start .start_button {
  background-color: transparent;
  border: none;
  outline: none;
  user-select: none;
  padding: 10px;
  min-width: 100px;
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  transition: all 0.3s;
  cursor: pointer;
}
.start.active .start_button {
  pointer-events: all;
}
.start .start_button-yes {
  background-color: #718c63;
}
.start .start_button-yes:hover {
  background-color: #90d06d;
}
.start .start_button-no {
  background-color: #c53144;
}
.start .start_button-no:hover {
  background-color: #f1253d;
}

.settings {
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  align-items: center;
  height: 100%;
}
.settings .settings_form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.settings .settings_number-content {
  display: flex;
}
.settings .settings_input {
  margin: 0 10px;
  width: 70px;
  border: none;
  outline: none;
  font-family: "Press Start 2P", cursive;
  color: #718c63;
  font-size: 16px;
  border-bottom: solid 3px black;
  text-align: center;
  line-height: 1.1;
}
.settings .settings_input-max {
  border-color: #9f9797;
}
.settings .settings_button {
  padding: 20px 40px;
  background-color: #718c63;
  border: none;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s;
}
.settings .settings-button:hover {
  background-color: #90d06d;
}

.gameplay .gameplay_guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.gameplay .gameplay_input-attempt {
  width: 200px;
  border: none;
  outline: none;
  font-family: "Press Start 2P", cursive;
  color: #718c63;
  font-size: 36px;
  border-bottom: solid 3px #9f9797;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 30px;
}
.gameplay .gameplay_form-buttons {
  display: flex;
  flex-direction: column;
}
.gameplay .gameplay_button {
  min-width: 205px;
  border: none;
  outline: none;
  user-select: none;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #718c63;
  border-radius: 5px;
  margin-bottom: 20px;
}
.gameplay .gameplay_button:hover {
  background-color: #638c49;
}
.gameplay .gameplay_button-end {
  background-color: #c53144;
}
.gameplay .gameplay_button-end:hover {
  background-color: #f1253d;
}

.result {
  color: #febd00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.result .result_button {
  min-width: 205px;
  border: none;
  outline: none;
  user-select: none;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: #718c63;
  border-radius: 5px;
  margin-bottom: 20px;
}
.result .result_button:hover {
  background-color: #638c49;
}
.result .result_text {
  margin-bottom: 50px;
}

.game_input {
  transition: all 0.2s;
}

main input.game_input:focus {
  border-color: #febd00;
}

/*# sourceMappingURL=style.css.map */
